-#  This file is app/views/movies/index.html.haml
%h1 All Movies


= form_tag movies_path, :method => "get", :id => "ratings_form" do
  - @rating_options.each do |r|
    = r
    = check_box_tag "ratings[#{r}]", 1, @selected_ratings.include?(r)
  = submit_tag 'Refresh', :id => 'ratings_submit'

%table#movies
  %thead
    %tr
      %th{:class => @header_css}= link_to "Movie Title", movies_path(:order_column => "title")
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
